[submodule "forks/pocketbase"]
	path = forks/pocketbase
	url = git@github.com:reanimatedmanx/pocketbase.git
[submodule "forks/git"]
	path = forks/@git/git
	url = git@github.com:reanimatedmanx/git.git
[submodule "forks/gh-cli"]
	path = forks/@git/gh-cli
	url = git@github.com:reanimatedmanx/gh-cli.git
[submodule "forks/git-extras"]
	path = forks/@git/git-extras
	url = git@github.com:reanimatedmanx/git-extras.git
[submodule "forks/git-lfs"]
	path = forks/@git/git-lfs
	url = git@github.com:reanimatedmanx/git-lfs.git
[submodule "forks/git-tips"]
	path = forks/@git/git-tips
	url = git@github.com:reanimatedmanx/git-tips.git
[submodule "forks/gitbucket"]
	path = forks/@git/gitbucket
	url = git@github.com:reanimatedmanx/gitbucket.git
[submodule "forks/gitea"]
	path = forks/@git/gitea
	url = git@github.com:reanimatedmanx/gitea.git
[submodule "forks/gitdesktop"]
	path = forks/@git/gitdesktop
	url = git@github.com:reanimatedmanx/gitdesktop.git
[submodule "forks/gitextensions"]
	path = forks/@git/gitextensions
	url = git@github.com:reanimatedmanx/gitextensions.git
[submodule "forks/jotgit"]
	path = forks/jotgit
	url = git@github.com:reanimatedmanx/jotgit.git
[submodule "forks/ossinsight"]
	path = forks/ossinsight
	url = git@github.com:reanimatedmanx/ossinsight.git
[submodule "forks/rust"]
	path = forks/rust
	url = git@github.com:reanimatedmanx/rust.git
[submodule "forks/zig"]
	path = forks/zig
	url = git@github.com:reanimatedmanx/zig.git
[submodule "forks/go"]
	path = forks/go
	url = git@github.com:reanimatedmanx/go.git
[submodule "forks/vscode"]
	path = forks/vscode
	url = git@github.com:reanimatedmanx/vscode.git
[submodule "forks/kopia"]
	path = forks/kopia
	url = git@github.com:reanimatedmanx/kopia.git
[submodule "forks/mantine"]
	path = forks/mantine
	url = git@github.com:reanimatedmanx/mantine.git 
[submodule "forks/babycorp"]
	path = forks/babybuddy
	url = git@github.com:reanimatedmanx/babycorp.git
[submodule "forks/supabase"]
	path = forks/supabase
	url = git@github.com:reanimatedmanx/supabase.git
[submodule "forks/hasura"]
	path = forks/hasura
	url = git@github.com:reanimatedmanx/hasura.git
[submodule "forks/mealie"]
	path = forks/mealie
	url = git@github.com:reanimatedmanx/mealie.git
